{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/producto.css' %}">
<div class="form-producto-container">
    <h2>{% if form.instance.id %}Editar{% else %}Crear{% endif %} Producto</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class=" buttons form-group d-flex justify-content-between margin-left margin-right">
            <button type="submit" class="btn btn-primary position-relative w-25 p-3">Guardar</button>
            <a href="{% url 'adminCRUD' %}" class="btn btn-danger position-relative w-25 p-3">Cancelar</a>
        </div>
        
    </form>
</div>
{% endblock %}